@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
	border: none !important;
}
.tabbrowser-tab {
	-moz-appearance: none !important;
	height: 1em !important;
	background-image: none !important;
	border: none !important;
	margin: 0em !important;
	background: none !important;
}
#TabsToolbar {
	-moz-appearance: none !important;
}
.tabbrowser-tab:hover .tab-background-middle {
	background: #333333 !important;
}
.tabbrowser-tab[selected="true"] {
	font-weight: bold !important;
	z-index: 0 !important;
}
.tab-background-middle {
	background-image: none !important;
	margin: 0em !important;
}
.tab-background-middle {
	padding-top: none;
	background-clip: inherit;
}
.tab-background-start {
	display: none !important;
}
.tab-background-end {
	display: none !important;
}
.tab-background {
	background-image: none !important;
	margin: 0em !important;
}
tabs .arrowscrollbox-scrollbox {
	padding: 0em !important;
}
#back-button {
	display: none !important;
}
#forward-button {
	display: none !important;
}
#tabbrowser-tabs:before {
	-moz-binding: initial !important;
	background-image: none !important;
	display: -moz-box !important;
}
tab {
	background-image: none !important;
}
#urlbar {
	margin-left: 0.5em !important;
}
#nav-bar {
	border: none !important;
	height: 2em !important;
	background-image: none !important;
	box-shadow: none !important;
}
#content-deck {
	border-top: none !important;
}
