akonadi/
autostart/
bash/saliases*
beets/library.db
beets/state.pickle
brightness
calibre/
cantata/
chromium/
dconf/
enchant/
fcitx/
firefox/
gconf/
gnupg/
gtk-2.0/
gtk-3.0/
ImageMagick/
ipython/profile_default/db
ipython/profile_default/security
kde
keepassx/
libreoffice/
lightum/
menus/
mpdscribble/
MusicBrainz/
mutt/account-*
mutt/passwords*
ncmpcpp/error.log
oxygen-gtk/
pulse/
qtcurve/
qupzilla/
ranger/bookmarks
ranger/history
ranger/tagged
smb/credentials
sensitive/
ssh/
Synergy/
tagaini.net/
Trolltech.conf
xbuild/
vlc/
VirtualBox/
