akonadi/
autostart/
bash/saliases
calibre/
cantata/
chromium/
dconf/
fcitx/
gconf/
gtk-2.0/
gtk-3.0/
kde.org/
keepassx/
libreoffice/
menus/
mpdscribble/
MusicBrainz/
ncmpcpp/error.log
oxygen-gtk/
pulse/
qtcurve/
qupzilla/
sensitive/
Synergy/
Trolltech.conf
xbuild/
vlc/
