akonadi*
aws/config
autostart/
baloorc
bash/saliases*
beets/library.db
beets/state.pickle
brightness
browserify
calibre/
cantata/
chromium/
configstore/
dconf/
emacs/elpa
emacs/url
email*
enchant/
Esperanto/
fcitx/
firefox/
gconf/
gimp/
gnupg/
qterminal.org/
gtk-2.0/
gtk-3.0/
ImageMagick/
ipython/profile_*/db
ipython/profile_*/security
ipython/profile_*/history*
ipython/profile_*/startup/README
ipython/README
kactivitymanagerdrc
kde
kwalletrc
libreoffice/
lightum/
menus/
mpdscribble/
MusicBrainz/
mutt/account-*
mutt/passwords*
ncmpcpp/error.log
nvim
oxygen-gtk/
pudb/saved-breakpoints-*
pulse/
qtcurve/
QtProject.conf
qupzilla/
qutebrowser/bookmarks/
qutebrowser/quickmarks
ranger/bookmarks
ranger/history
ranger/tagged
rockbox.org/
sh/saliases.sh
smb/credentials
sensitive/
ssh/
systemd/user/default.target.wants/
systemd/user/*.target
Synergy/
tagaini.net/
Trolltech.conf
xbuild/
vimperator/info/
VirtualBox/
vlc/
zsh/functions/fzf.zsh
