snippet pdb
import pdb
pdb.set_trace()
endsnippet

snippet bpdb
import bpdb
bpdb.set_trace()
endsnippet

snippet ipdb
import ipdb
ipdb.set_trace()
endsnippet

snippet _f "future imports for python2"
from __future__ import absolute_import, print_function, unicode_literals

endsnippet
